@use '../forward';

.header {
    &__inner {
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;

        @include forward.mediaMin(drawer) {
            padding: 40px;
        }

        ;
    }
}